<section>
    <div class="panel-heading">
        <div class="panel-title text-center">
            <h1 class="title">Add Material</h1>
            <hr />
        </div>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="tb-title">Title</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input type="text" id="tb-title" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="tb-description">Description</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input type="text" id="tb-description" class="form-control" required>
                </div>
            </div>
        </div>
		<div class="form-group">
            <label for="tb-image">Image Url</label>
            <div class="cols-sm-10">
                <div class="input-group">
					<span class="input-group-addon"></span>
                    <input type="text" id="tb-image" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group "> 
            <button id="btn-add-material" class="btn btn-primary btn-lg btn-block login-button">Add Material</button>
        </div>
    </form>
</section>