body {
    margin-top: 70px;
    background-color: #DEDFDE
}

form {
    padding: 0 25%
}

ul {
    list-style-type: none;
    padding: 0
}

select {
    height: 30px;
    background-color: #F5F5F5
}

hr {
    border-color: #DEDFDE
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

#search-form {
    margin: 50px 0
}

#home-search-input {
    background-color: #F5F5F5
}

.material-container {
    padding-top: 20px;
    border-bottom: 1px solid #ABABAB
}

.material-image {
    width: 200px;
    height: 200px;
    margin-right: 30px
}

.material-info {
    display: inline-block;
    text-align: center;
}

#material-detail-image {
    width: 40%
}

#comments-container {
    padding: 0 25%
}

#user-materials {
    margin-top: 50px
}

.user-li {
    padding: 10px;
}